<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <%= link_to "ALPHA BLOG", root_path, class: "navbar-brand", id: "logo" %> <!-- This line makes ALPHA BLOG clickable and link to Home page, which is root_path -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to 'About', about_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Bloggers', users_path, class: "nav-link" %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Articles
          </a>
          <ul class="dropdown-menu" id="dropdown-black" aria-labelledby="navbarDropdown">
            <% if logged_in? %>
              <%= link_to "Create new article", new_article_path, class: "dropdown-item text-light" %>
            <% else %>
              <%= link_to "", nil, class: "dropdown-item text-white-50 not-logged-in" %> <!-- CSS takes care of this-->
            <% end %>
            <%= link_to "View articles", articles_path, class: "dropdown-item text-light" %>
          </ul>
        </li>
        <% dropdown_if_admin = ((logged_in? && current_user.admin?) ? true : false)  %>
        <li class="nav-item <%= "dropdown" if dropdown_if_admin %>">
          <% unless dropdown_if_admin %>
            <!-- Normal -->
            <%= link_to "Categories", categories_path, class: "nav-link" %>
          <% else %>
            <!-- Admin -->
            <%= link_to "Categories", nil, class: "nav-link dropdown-toggle", id: "navbarDropdown", role: "button", "data-bs-toggle": "dropdown", "aria-expanded": "false" %>
            <ul class="dropdown-menu" id="dropdown-black" aria-labelledby="navbarDropdown">
              <%= link_to "Create new category", new_category_path, class: "dropdown-item text-light" %>
              <%= link_to "View categories", categories_path, class: "dropdown-item text-light" %>
            </ul>
          <% end %>
        </li>
        <% if logged_in? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <span class="admin-font"><%= "Admin " if current_user.admin? %></span>[ <%= current_user.username %> ]
            </a>
            <ul class="dropdown-menu" id="dropdown-black" aria-labelledby="navbarDropdown">
              <%= link_to "View your profile", user_path(current_user), class: "dropdown-item text-light" %>
              <%= link_to "Edit your profile", edit_user_path(current_user), class: "dropdown-item text-light" %>
              <li><hr class="dropdown-divider"></li>
              <%= link_to "Delete profile", user_path(current_user), class: "dropdown-item text-danger dangerous-delete-color", method: :delete, data: { confirm: "Are you sure?" } %>
            </ul>
          </li>
          <li class="nav-item">
            <%= link_to "Logout", logout_path, class: "nav-link", method: :delete %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Log in", login_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Sign up", signup_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success shadow-none" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
